/* #region | Root, general styling */
:root {
	--font_size_s: 14px;
	--font_size_m: 18px;
	--font_size_l: 23px;
	--font_size_xl: 30px;

	--spacing_s: 6px;
	--spacing_m: 10px;
	--spacing_l: 16px;

	--range_thumb_w: 20px;
	--range_thumb_h: 30px;
	--range_track_h: 16px;

	--border_radius: 6px;
	--border_width: 2px;
	--border_color: hsl(230, 10%, 37%);

	--elev_0: hsl(230, 11%, 14%);
	--elev_1: hsl(230, 13%, 23%);
	--elev_2: hsl(230, 10%, 28%);
	--accent: hsl(215, 50%, 43%);

	--color_primary: hsl(0, 0%, 75%);
	--color_secondary: hsl(0, 0%, 50%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--color_primary);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: var(--font_size_m);
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: var(--elev_0);
}

h1 { font-size: var(--font_size_xl); }
h2 { font-size: var(--font_size_l); }
h1, h2 { text-align: center; }

hr {
	border: none;
	width: 100%;
	height: var(--border_width);
	background-color: var(--border_color);
	margin: var(--spacing_m) 0;
}

input[type="text"] {
	outline: none;
	padding: var(--spacing_s);
	border: var(--border_width) solid var(--border_color);
	border-radius: var(--border_radius);
	background-color: var(--elev_0);
}

input[type="text"]:focus { border: var(--border_width) solid var(--accent); }

/* Range inputs */
input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	height: var(--range_track_h);
	outline: none;
	border-radius: var(--border_radius);
	background-color: var(--elev_0);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--range_thumb_w);
	height: var(--range_thumb_h);
	background-color: var(--accent);
	border-radius: var(--border_radius);
	outline: none;
	border: none;
}

input[type="range"]::-moz-range-thumb {
	width: var(--range_thumb_w);
	height: var(--range_thumb_h);
	background-color: var(--accent);
	border-radius: var(--border_radius);
	outline: none;
	border: none;
}
/* #endregion */


/* #region | Shared classes */
.hidden_if_landscape { display: none; }

.subtext {
	color: var(--color_secondary);
	font-size: var(--font_size_s);
}

.content_page {
	height: 100%;
	padding: var(--spacing_l);
	overflow: hidden auto;
}

.content_page > *:not(:last-child) { margin-bottom: var(--spacing_l); }

.hidden { display: none !important; }

.button_container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing_s);
	border-radius: var(--border_radius);
	border: var(--spacing_s) solid var(--elev_0);
	background-color: var(--elev_0);
}

.button {
	background-color: var(--elev_1);
	padding: var(--spacing_s);
	border-radius: var(--border_radius);
	word-break: break-word;
	cursor: pointer;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-touch-select: none;
}

.button:hover { background-color: var(--elev_2); }

.button.active { box-shadow: inset 0 0 0 var(--border_width) var(--accent); }

table.data_table { border-collapse: collapse; }
table.data_table tr:not(:last-child) { border-bottom: var(--border_width) solid var(--border_color); }
table.data_table td:first-child { border-right: var(--border_width) solid var(--border_color); }
table.data_table td { padding: var(--spacing_s); }
/* #endregion */


/* #region | Container elements */
/* Contains all */
body > div {
	display: flex;
	flex-direction: column;
	width: 75%;
	max-width: 1400px;
	height: 100%;
	margin: 0 auto;
}

/* Header shown in portrait only mode */
#portrait_header_container {
	margin: 0 0 var(--spacing_l);
	padding: var(--spacing_l);
	z-index: 100;
	border-radius: var(--border_radius);
	box-shadow: 0 0 var(--spacing_l) black;
	background-color: var(--elev_1);
}

/* Sidebar and content */
#main_container {
	flex-grow: 1;
	display: flex;
	height: 100%;
}

/* Left sidebar */
#sidebar_container {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: var(--spacing_l) var(--spacing_l) var(--spacing_l) 0;
	padding: var(--spacing_l);
	z-index: 50;
	overflow: hidden auto;
	border-radius: var(--border_radius);
	background-color: var(--elev_1);
}

/* Individual pages container */
#pages_container {
	flex-grow: 1;
	margin: var(--spacing_l) 0;
	border-radius: var(--border_radius);
	background-color: var(--elev_1);
}
/* #endregion */


/* #region | Portrait header */
#portrait_header {
	display: flex;
	align-items: center;
}

#sidebar_toggle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	margin-right: var(--spacing_l);
	cursor: pointer;
}

#sidebar_toggle > div {
	background-color: var(--color_primary);
	height: 20%;
}
/* #endregion */


/* #region | Sidebar */
#sidebar_container > * { width: 100%; }
#sidebar_container > *:not(:last-child) { margin-bottom: var(--spacing_m); }

#games_list {
	flex-direction: initial;
	flex-wrap: wrap;
	flex-shrink: 0;
	max-height: 180px;
	overflow: hidden auto;
}
/* #endregion */


/* #region | Pages */
#game_page table { width: 100%; }

.comparison_note { text-align: center; }

.comparison_container > * { margin-bottom: var(--spacing_l); }
.comparison_container .slider {
	width: 100%;
}

.images_container {
	display: grid;
	grid-template-areas: "img_left";
	position: relative;
}

.images_container img {
	grid-area: img_left;
	width: 100%;
	height: auto;
	border-radius: var(--border_radius);
}

.img_left {
	z-index: 150;
	mask-image: linear-gradient(to right, #000000 var(--cut), rgba(0,0,0,0) var(--cut));
}

.img_right { z-index: 100; }

/* Comparison data container */
.comparison_data {
	padding: var(--spacing_s);
	border-radius: var(--border_radius);
	background-color: var(--elev_0);
}

/* Comparison data table */
.comparison_data table {
	border-collapse: collapse;
	white-space: nowrap;
}

/* Comparison data inputs */
.comparison_data input {
	appearance: none;
	width: 1em;
	height: 1em;
	border-radius: var(--border_radius);
	border: 0.2em solid var(--elev_1);
	margin-right: var(--spacing_s);
	transform: translateY(2px);
	cursor: pointer;
	background-color: var(--elev_0);
}
.comparison_data input:hover { background-color: var(--elev_1); }
.comparison_data input:checked { background-color: var(--accent); }

.comparison_data td:nth-child(3) { padding-right: var(--spacing_s); }
.comparison_data td:nth-child(4) { width: 100%; }

.comparison_data .fps_bar {
	padding: 0 var(--spacing_s);
	text-align: right;
	margin: 1px 0;
	border-radius: var(--border_radius);
	background-color: var(--accent);
}

.comparison_data .fps_bar p { transform: translateY(-1px); }
/* #endregion */


/* #region | Media queries */
/* Switching to fullscreen-ish */
@media screen and (max-width: 1200px) {
	body > div { width: 100%; }
	#main_container { margin: 0 var(--spacing_l); }
}

/* Switch to portrait */
@media screen and (max-width: 800px) {

	/* Show all normally hidden elements */
	.hidden_if_landscape { display: initial; }

	/* Hide elements */
	.hidden_if_portrait { display: none; }

	/* Remove margins */
	#main_container, #sidebar_container, #pages_container { margin: 0; }

	/* Hide sidebar, make full width */
	#sidebar_container {
		width: 100%;
		display: none;
	}

	/* Show sidebar if required */
	#sidebar_container.show { display: initial; }
}
/* #endregion */
